* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 0.5rem;
  margin: 2% 0 10%;
  color: #FEF2BF;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.empty-cell {
  background-color: #011F3F;
}

.yellow-cell {
  background-color: yellow;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10%;
}
@media only screen and (min-width: 400px) {
  .yellow-cell {
    border: 5px solid black;
    border-radius: 12%;
  }
}
@media only screen and (min-width: 600px) {
  .yellow-cell {
    border: 7px solid black;
    border-radius: 16%;
  }
}
@media only screen and (min-width: 786px) {
  .yellow-cell {
    border: 10px solid black;
    border-radius: 20%;
  }
}

.green-cell {
  background-color: green;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10%;
}
@media only screen and (min-width: 400px) {
  .green-cell {
    border: 5px solid black;
    border-radius: 12%;
  }
}
@media only screen and (min-width: 600px) {
  .green-cell {
    border: 7px solid black;
    border-radius: 16%;
  }
}
@media only screen and (min-width: 786px) {
  .green-cell {
    border: 10px solid black;
    border-radius: 20%;
  }
}

.blue-cell {
  background-color: blue;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10%;
}
@media only screen and (min-width: 400px) {
  .blue-cell {
    border: 5px solid black;
    border-radius: 12%;
  }
}
@media only screen and (min-width: 600px) {
  .blue-cell {
    border: 7px solid black;
    border-radius: 16%;
  }
}
@media only screen and (min-width: 786px) {
  .blue-cell {
    border: 10px solid black;
    border-radius: 20%;
  }
}

.red-cell {
  background-color: red;
  margin: 10px;
  border: 3px solid black;
  border-radius: 10%;
}
@media only screen and (min-width: 400px) {
  .red-cell {
    border: 5px solid black;
    border-radius: 12%;
  }
}
@media only screen and (min-width: 600px) {
  .red-cell {
    border: 7px solid black;
    border-radius: 16%;
  }
}
@media only screen and (min-width: 786px) {
  .red-cell {
    border: 10px solid black;
    border-radius: 20%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 50px 50px;
  background-color: #011F3F;
}

@media only screen and (min-width: 400px) {
  .grid-container {
    grid-template-rows: 100px 100px;
  }
  #level-title {
    font-size: 0.8rem;
    margin: 2% 0 7%;
  }
}
@media only screen and (min-width: 600px) {
  .grid-container {
    grid-template-rows: 150px 150px;
  }
  #level-title {
    font-size: 1.1rem;
    margin: 2% 0 8%;
  }
}
@media only screen and (min-width: 786px) {
  .grid-container {
    grid-template-rows: 175px 175px;
  }
  #level-title {
    font-size: 1.3rem;
    margin: 2% 0 6%;
  }
}
@media only screen and (min-width: 920px) {
  .grid-container {
    grid-template-rows: 200px 200px;
  }
  #level-title {
    font-size: 1.6rem;
    margin: 2% 0 5%;
  }
}
@media only screen and (min-width: 1200px) {
  .grid-container {
    grid-template-rows: 250px 250px;
  }
  #level-title {
    font-size: 1.9rem;
    margin: 2% 0 3%;
  }
}
@media only screen and (min-width: 1440px) {
  .grid-container {
    grid-template-rows: 300px 300px;
  }
  #level-title {
    font-size: 2.3rem;
    margin: 2% 0 2%;
  }
}