$title-col: #FEF2BF;
$cell-border-col: black;
$font-family-1: 'Press Start 2P', cursive;
$background-col: #011F3F;
$background-col-pressed: grey;
$background-col_red_cell: red;
$background-col_yellow_cell: yellow;
$background-col_green_cell: green;
$background-col_blue_cell: blue;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: $background-col;
}

#level-title {
    font-family: $font-family-1;
    font-size: 0.5rem;
    margin: 2% 0 10%;
    color: $title-col;
}

.game-over {
    background-color: $background-col_red_cell;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 0 20px $title-col;
    background-color: $background-col-pressed;
}

.empty-cell {
    background-color: $background-col;
}

@mixin filled-cell {
    margin: 10px;
    border: 3px solid $cell-border-col;
    border-radius: 10%;

    @media only screen and (min-width: 400px) {
        border: 5px solid $cell-border-col;
        border-radius: 12%;
    }

    @media only screen and (min-width: 600px) {
        border: 7px solid $cell-border-col;
        border-radius: 16%;
    }

    @media only screen and (min-width: 786px) {
        border: 10px solid $cell-border-col;
        border-radius: 20%;

    }
}

.yellow-cell {
    background-color: $background-col_yellow_cell;
    @include filled-cell;
}

.green-cell {
    background-color: $background-col_green_cell;
    @include filled-cell;
}

.blue-cell {
    background-color: $background-col_blue_cell;
    @include filled-cell;
}

.red-cell {
    background-color: $background-col_red_cell;
    @include filled-cell;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 50px 50px;
    background-color: $background-col;
}

@media only screen and (min-width: 400px) {
    .grid-container {
        grid-template-rows: 100px 100px;
    }

    #level-title {
        font-size: 0.8rem;
        margin: 2% 0 7%;
    }
}

@media only screen and (min-width: 600px) {
    .grid-container {
        grid-template-rows: 150px 150px;
    }

    #level-title {
        font-size: 1.1rem;
        margin: 2% 0 8%;
    }
}

@media only screen and (min-width: 786px) {
    .grid-container {
        grid-template-rows: 175px 175px;
    }

    #level-title {
        font-size: 1.3rem;
        margin: 2% 0 6%;
    }
}

@media only screen and (min-width: 920px) {
    .grid-container {
        grid-template-rows: 200px 200px;
    }

    #level-title {
        font-size: 1.6rem;
        margin: 2% 0 5%;
    }
}

@media only screen and (min-width: 1200px) {
    .grid-container {
        grid-template-rows: 250px 250px;
    }

    #level-title {
        font-size: 1.9rem;
        margin: 2% 0 3%;
    }
}

@media only screen and (min-width: 1440px) {
    .grid-container {
        grid-template-rows: 300px 300px;
    }

    #level-title {
        font-size: 2.3rem;
        margin: 2% 0 2%;
    }
}