$title-col: #FEF2BF;
$cell-border-col: black;
$font-family-1: 'Press Start 2P', cursive;
$background-col: #011F3F;
$background-col-pressed: grey;
$background-col_red_cell: red;
$background-col_yellow_cell: yellow;
$background-col_green_cell: green;
$background-col_blue_cell: blue;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: $background-col;
}

#level-title {
    font-family: $font-family-1;
    font-size: 0.5rem;
    margin: 2% 0 5%;
    color: $title-col;
}

.game-over {
    background-color: $background-col_red_cell;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 0 20px $title-col;
    background-color: $background-col-pressed;
}

.empty-cell {
    background-color: $background-col;
}

.yellow-cell {
    background-color: $background-col_yellow_cell;
}

.green-cell {
    background-color: $background-col_green_cell;
}

.blue-cell {
    background-color: $background-col_blue_cell;
}

.red-cell {
    background-color: $background-col_red_cell;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $background-col;
}

.filled-cell {
    margin: 10px;
    border: 3px solid $cell-border-col;
    border-radius: 10%;
    // Mobile first design.
    width: 160px;
    height: 90px;
}

@media only screen and (min-width: 400px) {
    // Switch to two by two display for cells.
    .flex-container {
        flex-direction: row;
    }
    .filled-cell {
        width: 160px;
        height: 180px;
    }

    #level-title {
        font-size: 0.65rem;
    }
}

@media only screen and (min-width: 600px) {
    .filled-cell {
        width: 200px;
        height: 220px;
    }

    #level-title {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 800px) {
    .filled-cell {
        width: 250px;
        height: 250px;
    }

    #level-title {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 1000px) {
    #level-title {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1200px) {
    #level-title {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1400px) {
    #level-title {
        font-size: 1.9rem;
    }
}