$title-col: #FEF2BF;
$cell-border-col: black;
$font-family-1: 'Press Start 2P', cursive;
$background-col: #011F3F;
$background-col-pressed: grey;
$background-col_red_cell: red;
$background-col_yellow_cell: yellow;
$background-col_green_cell: green;
$background-col_blue_cell: blue;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: $background-col;
    margin: 50px 0;
}

#level-title {
    font-family: $font-family-1;
    font-size: 1.5rem;
    margin: 50px 50px;
    color: $title-col;
    line-height: 150%;
}

.game-over {
    background-color: $background-col_red_cell;
    opacity: 0.8;
}

.pressed {
    box-shadow: 0 0 20px $title-col;
    background-color: $background-col-pressed;
}

.empty-cell {
    background-color: $background-col;
}

.yellow-cell {
    background-color: $background-col_yellow_cell;
}

.green-cell {
    background-color: $background-col_green_cell;
}

.blue-cell {
    background-color: $background-col_blue_cell;
}

.red-cell {
    background-color: $background-col_red_cell;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $background-col;
}

.filled-cell {
    margin: 10px;
    border: 3px solid $cell-border-col;
    border-radius: 10%;
    // Mobile first chrome dev tools device emulator.
    width: 220px;
    height: 220px;
}